services:

  chroma:
    image: chromadb/chroma:1.3.0
    container_name: chroma
    volumes:
      - chroma_data:/data/
    networks:
      - rag-network

  rag:
    build: .
    container_name: rag
    ports:
      - "8501:8501"
    env_file: .env
    volumes:
      - ./appconfig.yaml:/app/appconfig.yaml:ro
      - ./data:/app/data:ro
    depends_on:
      - chroma
    networks:
      - rag-network

networks:
  rag-network:
    driver: bridge

volumes:
  chroma_data: