[project]
name = "sggw-chat-bot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.11.7",
    "sentence-transformers>=5.1.0",
    "streamlit>=1.49.1",
]
